<button (click)="initNewMotorcycle()">Add new Motorcycle</button>

<table>
  <thead>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
  </thead>

  <tbody>
    <tr *ngFor="let motorcycle of motorcycles">
      <td>{{ motorcycle.make }}</td>
      <td>{{ motorcycle.model }}</td>
      <td>{{ motorcycle.year }}</td>
      <td>${{ motorcycle.price }}</td>
      <td><button (click)="editMotorcycle(motorcycle)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-motorcycle [motorcycle]="motorcycleToEdit" (motorcyclesUpdated)="updatedMotorcycleList($event)"></app-edit-motorcycle>